//- Options:
//- {
//-   width: 450,       // (pixels)
//-   bgcolor: 'white'
//- }

mixin card(options)
  - var maxwidth = options.maxwidth || options.width 
  - var minwidth = options.minwidth || 0
  - var margin = options.margin ? 'margin: ' + options.margin + ';' : ''
  div(style="max-width: #{maxwidth}px; min-width: #{minwidth}px; Margin: 0px auto;")
    table(id="content" cellpadding="0" cellspacing="0" border="0" align="center" width="100%")
      tr
        td(valign="top")
          <!--[if mso]>
    table(id="content" cellpadding="0" cellspacing="0" border="0" align="center")
      tr
        td(valign="top")
        center
          v:roundrect(xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="v-text-anchor:middle;width:#{options.width}px;height:20px;top:10;position:relative;" arcsize="30%" stroke="f" fillcolor="#{options.bgcolor}")
          table(width="#{options.width}" cellpadding="0" cellspacing="0" border="0")
            tr
              td(width="#{options.width}" style="background:#{options.bgcolor};")
                <![endif]-->
                div(style="max-width: #{maxwidth}px; margin: 0 auto;")
                  div(class="card" style="background:#{options.bgcolor}; border-radius: 0.5em; #{margin}")
                    table(valign="top" cellpadding="0" cellspacing="0" border="0" align="center" width="100%")
                      tr
                        td(style="padding:#{options.padding}")
                          block
                <!--[if mso]>
          v:roundrect(xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="v-text-anchor:middle; width:#{options.width}px; height:20px; top:-10px; position:relative;" arcsize="30%" stroke="f" fillcolor="#{options.bgcolor}")
        td(valign="top")
          <![endif]-->
