mixin divider(options)
  - var divider_bgcolor = options.color || 'transparent'
  - var divider_width = options.width || '100%'
  - var divider_height = options.height || '1px'
  - var divider_padding_top = options.paddingTop || '0px'
  - var divider_padding_bottom = options.paddingBottom || '0px'
  table(width="#{divider_width}" height="1px" cellspacing="0" cellpadding="0" style="margin: 0;")
    tr
      td(style="width: 100%; font-size: 1px; line-height: 1px; padding: #{divider_padding_top} 0px 0px 0px;") &nbsp;
  table(width="#{divider_width}" cellspacing="0" cellpadding="0" style="margin: 0;")
    tr
      td(style="width: #{divider_width}; height: #{divider_height}; background: #{divider_bgcolor}; font-size: 1px; line-height: 1px;") &nbsp;
  table(width="#{divider_width}" height="1px" cellspacing="0" cellpadding="0" style="margin: 0;")
    tr
      td(style="width: 100%; font-size: 1px; line-height: 1px; padding: 0px 0px #{divider_padding_bottom} 0px") &nbsp;
